<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- GPS or network provider through location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- scanner -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- scanner -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UserApplication"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".HOD.HodVerifyActivity"
            android:exported="false" />
        <activity
            android:name=".HOD.ChangeHodProfilePhotoActivity"
            android:exported="false" />
        <activity
            android:name=".HOD.HodRegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".HOD.HODLoginActivity"
            android:exported="false" />
        <activity
            android:name=".teacher.ChooseTeacherroleActivity"
            android:exported="false" />
        <activity
            android:name=".HOD.HodHomeActivity"
            android:exported="false"
            android:theme="@style/ShowActionbar" />
        <activity
            android:name=".student.ScanQRCodeActivity"
            android:exported="false" />
        <activity
            android:name=".student.QRCodeActivity"
            android:exported="false" />
        <activity
            android:name=".teacher.AddYearWiseStudentTaskActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AdminHomeActivity"
            android:exported="false"
            android:theme="@style/ShowActionbar" />
        <activity
            android:name=".teacher.TeacherVerifyOTPActivity"
            android:exported="false" />
        <activity
            android:name=".teacher.TeacherRegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".teacher.ChangeTeacherProfilePhotoActivity"
            android:exported="false" />
        <activity
            android:name=".student.StudentInsertProfilePhotoActivity"
            android:exported="false" />
        <activity
            android:name=".teacher.ShowStudentWiseDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".teacher.YearWiseStudentsListActivity"
            android:exported="false"
            android:theme="@style/Theme.UserApplication" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCb57LvM2o0GdYdEeCEVuf8GaAWie1tnKA" />

        <activity
            android:name=".teacher.ViewAllStudentsLocationActivity"
            android:exported="false"
            android:label="@string/title_activity_view_all_students_location" />
        <activity
            android:name=".teacher.DepartmentWiseYearActivity"
            android:exported="false" />
        <activity
            android:name=".teacher.TeacherUpdateProfileActivity"
            android:exported="false" />
        <activity
            android:name=".teacher.ConfirmRegisterMobileNumberTeacherActivity"
            android:exported="false" />
        <activity
            android:name=".teacher.ForgetPasswordVerifyTecherActivity"
            android:exported="false" />
        <activity
            android:name=".teacher.SetUpnewPasswordTeacherActivity"
            android:exported="false" />
        <activity
            android:name=".student.UpdateStudentMyProfileActivity"
            android:exported="false" />
        <activity
            android:name=".student.SubjectWiseTaskActivity"
            android:exported="false" />
        <activity
            android:name=".teacher.TeacherMyProfileActivity"
            android:exported="false" />
        <activity
            android:name=".teacher.TeacherHomeActivity"
            android:exported="false"
            android:theme="@style/ShowActionbar" />
        <activity
            android:name=".teacher.TeacherLoginActivity"
            android:exported="false" />
        <activity
            android:name=".student.SetUpnewPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".student.ForgetPasswordVerifyActivity"
            android:exported="false" />
        <activity
            android:name=".student.ConfirmRegisterMobileNumberActivity"
            android:exported="false" />
        <activity
            android:name=".student.VerifyOTPActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ChooseYourPortalActivity"
            android:exported="false" />
        <activity
            android:name=".student.StudentMyProfileActivity"
            android:exported="false" />
        <activity
            android:name=".student.StudentRegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".student.StudentHomeActivity"
            android:exported="false" />
        <activity
            android:name=".student.StudentLoginActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>